<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Images in space and time</title>

    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/spin.css"/>

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    <!--<script src="http://code.createjs.com/easeljs-0.5.0.min.js"></script>-->
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    -->

    <!--<script src="libs/bootstrap/js/bootstrap.js"></script>-->

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap-responsive.css"/>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css"/>
    <![endif]-->

    <link rel="stylesheet" href="libs/leaflet.markercluster/MarkerCluster.Default.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="libs/leaflet.markercluster/MarkerCluster.Default.ie.css"/>
    <![endif]-->

    <!-- Logging User by Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37228541-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        var _gaq = window._gaq || [];
        window.onerror = function(msg, url, line) {
            var preventErrorAlert = true;
            _gaq.push(['_trackEvent', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line, 0, true]);
            return preventErrorAlert;
        };
    </script>

    <!-- Logging Errors with qbaka.net -->
    <script type="text/javascript">
        (function(a,c){a.__qbaka_eh=a.onerror;a.__qbaka_reports=[];a.onerror=function(){a.__qbaka_reports.push(arguments);if(a.__qbaka_eh)try{a.__qbaka_eh.apply(a,arguments)}catch(b){}};a.onerror.qbaka=1;a.qbaka={report:function(){},customParams:{},set:function(a,b){qbaka.customParams[a]=b},exec:function(a){try{a()}catch(b){qbaka.reportException(b)}},reportException:function(){}};var b=c.createElement("script"),e=c.getElementsByTagName("script")[0],d=function(){e.parentNode.insertBefore(b,e)};b.id="qbaka";b.type="text/javascript";b.async=!0;b.src="//cdn.qbaka.net/reporting.js";"[object Opera]"==a.opera?c.addEventListener("DOMContentLoaded",d):d();qbaka.key="13d4d8698b3f8ee4699602a321ee3eb8"})(window,document);qbaka.options={autoStacktrace:1,trackEvents:1};
    </script>

    <script data-main="src/app.js" src="libs/requirejs/require.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
</head>
<body>

<div ng-view></div>

<div ng-controller="NavigationCtrl">
    <form class="form-inline">
        <div class="control-group">
            <label class="control-label" >Tag:</label>
            <input type="text" class="input-small" placeholder="tag" ng-model="tag">
            <button class="btn" type="button" ng-click="togglePlay()"><i class="{{getPlayButtonIcon()}}"></i></button>
            <!--
            <button class="btn" type="button" ng-click="playChristmas()"><i class="icon-gift"></i> Christmas</button>
            -->
            <!--<button class="btn" type="button" ng-click="clearAllImages()"><i class="icon-remove-circle"></i></button>-->
            <span><i>type tag, press play, and enjoy the view</i></span>
            <!--
            <button class="btn" type="button" ng-click="toggleHeatmap()"><i class="icon-map-marker"></i> Heatmap</button>
            -->
        </div>
    </form>
    <div class="play-button">
        <button ng-show="isStopped()" ng-click="startPlayMainButton()" type="button" class="btn btn-primary btn-large"><i class="icon-play"></i> Start: <span ng-bind-template="tag">...</span></button>
    </div>
</div>

<div id="images-map"></div>

<div class="footer">
    <h1>Look! Images on the map</h1>

    <div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=276302012485601";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-like" data-href="http://imagesonmap.herokuapp.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone" data-size="medium" data-href="http://imagesonmap.herokuapp.com"></div>
    </div>

    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
</div>

<div class="copy-right">
    <span><a target="_blank" href="http://about.me/hyzhak">(C) Hyzhak & Burenka 2013.</a></span>
</div>

</body>
</html>