<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Images in space and time</title>

    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    <!--<script src="http://code.createjs.com/easeljs-0.5.0.min.js"></script>-->
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    -->

    <!--<script src="libs/bootstrap/js/bootstrap.js"></script>-->

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap-responsive.css"/>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css"/>
    <![endif]-->

    <link rel="stylesheet" href="libs/leaflet.markercluster/MarkerCluster.Default.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="libs/leaflet.markercluster/MarkerCluster.Default.ie.css"/>
    <![endif]-->

    <script data-main="src/app.js" src="libs/requirejs/require.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
</head>
<body>
<h1>Look!</h1>
<div ng-controller="NavigationCtrl" class="nav">
    <form class="form-search">
        <div class="control-group">
            <label class="control-label" >Tag:</label>
            <input type="text" class="input-small" placeholder="tag" ng-model="tag">
            <button class="btn" type="button" ng-click="togglePlay()"><i class="{{getPlayButtonIcon()}}"></i></button>
            <button class="btn" type="button" ng-click="playChristmas()"><i class="icon-gift"></i> Christmas</button>
            <button class="btn" type="button" ng-click="clearAllImages()"><i class="icon-remove-circle"></i> Clear</button>
            <button class="btn" type="button" ng-click="toggleHeatmap()"><i class="icon-map-marker"></i> Heatmap</button>
        </div>
    </form>
</div>
<div id="images-map">
</div>
<div>
    <img src="http://distilleryimage6.s3.amazonaws.com/064a54964b0e11e2b12d22000a9e295b_7.jpg" width="612" height="612" class="img-polaroid">
    <div ng-view></div>
</div>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37228541-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
<!--
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8080/');
    socket.emit('client event', {
        command: 'start follow tag',
        data: {
            tag:'love'
        }
    });

    socket.on('server event', function (event) {
        console.log(event);
        if(event.name == 'get image with tag'){
            //get image info and put on map
        }
    });
</script>
-->
</html>