<div ng-controller="AboutController">
    <div class="modal-header">
        <strong>About</strong>
    </div>
    <div class="modal-body">
        <div >
            <div>
                <div >
                    <h1>Real-time photos v{{version}}</h1>
                    <h2 class="about-subtitle">Meteor edition</h2>
                </div>
                <a target="_blank" href="http://about.me/hyzhak"><img style="float: right;" src="img/meteor-80x80.jpg" width="80" height="80" alt="#love"/></a>
            </div>
            <small>
                <p>It's just mash-up of Many Technologies. Thanks:</p>
                <ul>
                    <li><a target="_blank" href="http://instagram.com/developer/">Instagram</a> for cool photos</li>
                    <li><a target="_blank" href="http://angularjs.org">AngularJS</a> for flexible design</li>
                    <li><a target="_blank" href="http://github.com/Hyzhak/image-on-angular.js">Image on AngularJS</a> ...</li>
                    <li><a target="_blank" href="http://leafletjs.com/">Leaflet</a> for map marks</li>
                    <li><a target="_blank" href="http://leafletjs.com/">Open street map</a> for maps</li>
                    <li><a target="_blank" href="http://twitter.github.com/bootstrap/">Twitter</a> for bootstrap</li>
                    <li><a target="_blank" href="http://game-icons.net/">Game icons</a> for Icons</li>
                    <li><a target="_blank" href="http://disqus.com/">Disqus</a> for comments</li>
                    <li><a target="_blank" href="http://http://mustache.github.com/">Mustache.js</a> for templating in hard parts</li>
                    <li><a target="_blank" href="http://github.com/">Github</a> for hosting</li>
                </ul>
                <p>Have idea? <a target="_blank" href="https://github.com/Hyzhak/real-time-photos.js/issues">Put it here!</a></p>
                <p>or mail me: <a href="mailto:hyzhak@ya.ru">hyzhak@ya.ru</a></p>
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <span><a target="_blank" href="http://about.me/hyzhak">(C) Hyzhak & Burenka 2013.</a></span>
    </div>
</div>