<div ng-controller="AboutController">
    <div class="modal-header">
        <strong>About</strong>
    </div>
    <div class="modal-body">
        <div class="hero-unit">
            <h1>Images on the map</h1>
            <p>Here is realtime instagram images. <small>Just select a tag, press start and look as they appear on the map.</small></p>
            <p>
                <a class="btn btn-primary">
                    Learn more
                </a>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <span><a target="_blank" href="http://about.me/hyzhak">(C) Hyzhak & Burenka 2013.</a></span>
    </div>
</div>