<div id="image-preview" class="image-preview container-fluid">
    <div class="span1 img-polaroid" style="width: 306px;height: 306px;">
        <img width="{{image.width}}" height="{{image.height}}" src="{{image.url}}"/>
    </div>
    <div class="span2">
        <h1>Image{{image.caption}}</h1>
        <a href="#/author/{{authorId}}"><h2>{{image.authorName}}</h2></a>
        <!--<img src="{{image.profilePicture}}" alt="{{image.authorName}}">-->
        <p><a href="#/tag/{{tags}}">{{image.tags}}</a>, <a href="#">tag2</a></p>
        <p><a href="#/location/{{image.locationId}}">{{image.locationName}</a></p>
        <p><a target="_blank" href="{{image.linkOutside}}">more...</a></p>
        <button ng-click="close()"><i class="icon-ok-circle"></i>Close</button>
    </div>
</div>