<!--<div id="image-preview" class="image-preview" ng-controller="ImageDetails">-->
<div id="image-preview" class="image-preview modal hide fade">
    <div class="image-preview-image img-polaroid" style="width: 306px;height: 306px;">
        <a target="_blank" href="{{image.linkOutside}}">
            <!--<img width="{{image.width}}" height="{{image.height}}" ng-src="{{image.url}}"/>-->
            <div smart-image width="{{image.width}}" height="{{image.height}}" src="{{image.url}}"></div>
        </a>
    </div>
    <div class="image-preview-description">
        <p><i><small>{{image.caption}}</small></i></p>
        <a href="#/author/{{authorId}}"><b>by {{image.authorName}}</b></a>
        <!--<img src="{{image.profilePicture}}" alt="{{image.authorName}}">-->
        <small>
            <ul class="nav nav-pills">
                <li ng-repeat="tag in image.tags" ng-class="checkActive(tag)"><a href="#/tag/{{tag}}" ng-click="close()">{{tag}}</a></li>
            </ul>
        </small>
        <!--
        <p>
            <span>
                <a href="#/location/{{image.locationId}}">{{image.locationName}}</a>
            </span>
            <span>
                <a target="_blank" href="{{image.linkOutside}}">more...</a>
            </span>
        </p>
        <button ng-click="close()"><i class="icon-ok-circle"></i>Close</button>
        -->
    </div>
</div>