<div>
    <div class="modal-header">
        <h1>Look at</h1>
    </div>
    <div class="modal-body tags-splash">
        <!--http://game-icons.net/icons/lorc/originals/svg/-->
        <!--
        <p>
            We have exceeded the maximum number of requests per hour to Instagram. So we are down :(.<br/>
            <b>So come one hour later!</b>
        </p>
        -->
        <div class="inline">
            <div class="tag-image"><a href="#/tag/love+valentin+kiss"><img src="img/heart.jpg" width="80" height="80" alt="#love"/><br/><span class="tag-image-caption">#love</span></a></div>
            <div class="tag-image"><a href="#/tag/fashion+beauty+makeup"><img src="img/lips.svg" width="80" height="80" alt="#love"/><br/><span class="tag-image-caption">#fashion</span></a></div>
            <div class="tag-image"><a href="#/tag/cat+dog+animals"><img src="img/white-cat.svg" width="80" height="80" alt="#love"/><br/><span class="tag-image-caption">#cat</span></a></div>
        </div>
        <div class="inline">
            <!--<div class="tag-image"><a href="#/tag/nature+landscape+mountains"><img src="img/mountaintop.svg" width="80" height="80" alt="#love"/><br/><span class="tag-image-caption">#nature</span></a></div>-->
            <div class="tag-image"><a href="#/tag/sea+water+river+lake"><img src="img/wave-crest.svg" width="80" height="80" alt="#love"/><br/><span class="tag-image-caption">#sea</span></a></div>
            <div class="tag-image"><a href="#/tag/meteor+russianmeteor+челябинск+метеорит+armageddon+meteorite+asteroid+chelyabinsk+meteorit"><img src="img/meteor-80x80.jpg" width="80" height="80" alt="#meteor"/><br/><span class="tag-image-caption">#meteor</span></a></div>
            <div class="tag-image"><a href="#/tag/sun+sunset+sunrise+sunshine"><img src="img/sunrise.svg" width="80" height="80" alt="#love"/><br/><span class="tag-image-caption">#sun</span></a></div>
        </div>
        <div class="inline">
            <div class="tag-image"><a href="#/tag/sport+fitness+motivation+bodybuilding"><img src="img/strong.svg" width="80" height="80" alt="#<br/>love"/><br/><span class="tag-image-caption">#sport</span></a></div>
            <div class="tag-image"><a href="#/tag/geek+hackathon+programming+gadget"><img src="img/ram.svg" width="80" height="80" alt="#love"/><br/><span class="tag-image-caption">#geek</span></a></div>
            <div class="tag-image"><a href="#/tag/me+self+portrait"><img src="img/mirror-mirror.svg" width="80" height="80" alt="#love"/><br/><span class="tag-image-caption">#me</span></a></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="input-append">
            <input class="span2" id="appendedInputButton" type="text" placeholder="#my #tags" ng-model="tagsText">
            <button class="btn" type="button" ng-click="requestCustomTag()">Go!</button>
        </div>
    </div>
</div>