body{
    background-color: black;
    background-image: url("background/subtle_stripes.png");
}

html, body {width: 100%; height: 100%;}

.footer{
    position:absolute;
    bottom: 0px;
}

.copy-right{
    position:absolute;
    bottom: 0px;
    right: 0px;
}

#images-map{
    background-color: #a9a9a9;
    /*width: 100%;
    min-height: 70%;*/
    bottom:84px;
    top:32px;
    left:2px;
    right:2px;
    position:absolute;
}

.instaImage{
    float:left;
}

.image{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 100% 100%;
}

.imageWithTransition{
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.imgIndicator{
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.imgLoaded{

}

.imageContainer{
    padding-bottom: 100%;
    position: relative;
    display: block;
}

.spinner{
    height: 18px;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    width: 18px;
}

.image-preview{
    /*
    background-color: #F3F3F3;
    position: absolute;
    left: 50%;
    top: 250px;
    width: 600px;
    margin-left: -306px;
    margin-top: -160px;
    z-index: 2;
    */
}

.image-preview-image{
    float: left;
    margin: 16px;
}

.image-preview-description{
    left: 8px;
}

.play-button {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
}
.play-button-container{
    float: left;
    margin: 16px;
}

.tag-image-caption{
    /*position: relative;
    top: 20px;
    left: -40px;
    color: white;*/
}

.tag-image{
    float: left;
    margin: 4px;
}